OPENAI_API_KEY=sk-a5de6050ceec4ea494fedf7a5773024d
GOOGLE_SHEET_ID=1TJTOUlnLJ2l6_HoWIw16541unfprYFBGwoXSU-EEkzE
GOOGLE_SHEET_API_URL=https://script.google.com/macros/s/AKfycbwIDU1hCh95X4dCrZrz3aOIQCm-OHKlZa82I7xYZqNoFkoa6ZaF5dtSZ9Snvqz6dtWG/exec
